* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial;
    font-size: 16px;
    width: 100%;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover, a:active {
        color: white;
        transition: all 300ms;
    }

.menu-item {
    padding: 10px;
}

.category-table td {
    padding: 10px;
    background-color: lightgreen;
}

.category-table tr:hover td {
    background-color: #09BC8A;
    color: white;
    transition: all 300ms;
}

.addnew-category td {
    padding: 10px 0;
}

.style-button {
    padding: 0 20px;
    border-radius: 5px;
}

    .style-button:hover {
        background-color: #0A2E3670;
        transition: all 300ms;
        color: white;
    }

.category-table .header-category-table {
    background-color: #09BC8A;
    color: white;
}

.addnew-category-table {
    height: 200px
}

    .addnew-category-table input {
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid grey;
    }

.btn-save {
    width: 100%;
    height: 30px;
    border: 1px solid #14CC60;
    border-radius: 5px;
    background-color: transparent;
}

    .btn-save:hover {
        background-color: #14CC60;
        transition: all 300ms;
        box-shadow: #14CC6050 0px 8px 20px;
        color: white;
    }

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking-text {
    animation: blink 1s infinite;
}
